@charset "UTF-8";
/* CSS Document */

.noVer{
	display:none;
	}
.disable{
	opacity:0.35;
	cursor: auto !important;
	pointer-events: none !important;
	}
.activo{
	cursor:pointer !important;
	}	
/* LABEL */
.label{
	height:auto !important;
	}
.lableN0{
	 font-family: 'open_sans_condensedbold' !important;
	 height:auto !important;
	}	
.labelSegundonivel{
	letter-spacing:-0.03em !important;
	height:auto !important;
	}
.labelTercernivel{
	letter-spacing:-0.03em !important;
	padding:0px !important;
	line-height:100% !important;
	height:auto !important;
	}			
.labelSolo{
	letter-spacing:-0.01em !important;
	font-size:13px !important;
	padding:0px !important;
	line-height:100% !important;
	height:auto !important;
	}

.mas3lineas{
	letter-spacing:-0.02em !important;
	font-size:14px !important;
	color:rgba(112,112,112,1.00) !important;
	padding:0px !important;
	padding-left:0px !important;
	padding-right:0px !important;
	line-height:100% !important;
	height:auto !important;
	max-width:130px !important;
	}	



/* ESPACIADO TEXTO */	
.menoUno{
	letter-spacing:-0.05em !important;
	}
	
.meno04{
	letter-spacing:-0.04em !important;
	}
	

	
	
/* BORDES */		
.bordeVerdeN0{
	border: rgba(195,255,92,1.00) solid 3px !important;
	}
	
.bordeFucsiaN0{
	border: #F95900 solid 3px !important;
	}
	
.bordeAzulN0{
	border-color:rgba(0,255,255,1.00) solid 3px !important;
	}

.bordeVerdeN2{
	border: rgba(195,255,92,1.00) solid 2px !important;
	}
	
.bordeFucsiaN2{
	border: rgba(255,0,255,1.00) solid 2px !important;
	}
	
.bordeAzulN2{
	border-color:rgba(0,255,255,1.00) solid 2px !important;
	}	
		
.pad0{
	padding:0 !important;
	}		

	

/* LINEAS */	

.lineA1{
	background-color:rgba(0,255,255,1.00) !important;
	}
.lineV1{
	background-color:rgba(195,255,92,1.00) !important;
	}
.lineF1{
	background-color:#F95900 !important;
	}	
	
.punteadaA{
	border: rgba(0,255,255,1.00) 3px dashed !important;
	background-color:transparent !important
	}	